<div class="card-wrapper">
    <% @tasks.each do |task| %>
      <div class="card bg-light w-50 mx-auto mb-3">
        <div class="card-body">
          <h4 class="card-title"><%= task.title %></h4>
          <h6 class="card-subtitle mb-2 text-muted">担当<%= task.pic %></h6>
          <p class="card-text"><%= task.detail %></p>
          <% if user_signed_in? && current_user.id == task.user_id %>
          <%= link_to "編集",edit_task_path(task) %>
          <%= link_to "削除",task_path(task), method: :delete %>
          <% end %>
        </div>
      </div> 
    <% end %>
  </div>
  <div class="container pagination justify-content-center">
    <%= paginate(@tasks) %>
  </div>